// La app
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // border: 2px solid black;
  padding: 30px;
  height: 100%;

  // Contenedor
  .contenedor {
    input {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
  }
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

  .grid-item {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    background-color: rgba(167, 133, 90, 0.459);

    &:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease-in-out;
    }
  }

  .grid-item-1 {
    background-color: rgba(250, 235, 215, 0.459);
    grid-column: 1 / span 2;
    /* Ocupa 2 columnas */
  }

  .grid-item-2 {
    background-color: rgba(250, 235, 215, 0.459);
    grid-column: 3 / span 2;
    /* Ocupa 2 columnas, comienza en la tercera columna */
  }


}