// navigation
nav {
  margin: 25px;
  text-align: center;
  background-color: #7ddae0b6;
  transition: transform 0.2s ease-in-out;

  a {
    font-size: map-get($font-size, "large") !important;
    color: $white;
    text-shadow: $shadow;

    &:hover {
      color: $secondary-color;
    }
  }

  li {
    list-style-type: none;
    display: inline;
    margin: 0 10px 0 10px;
  }
}